.my-sticky-element {
      position: sticky;
      top: 75px; /* Adjust based on your navbar's height */
    }

a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  color: black;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  text-decoration: none;
  padding: px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  transition: all 0.2s ease-in-out;
}

a:before {
  content: '';
  background: #989898;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

a:hover {
 background-position: 0;
 color: rgb(144, 144, 144)
}

a:hover::before {
  width:100%;
}

img {
  border-radius: 50%;
}

hr {
  border: none;
  border-top: 4px solid #919191;
  margin: 20px 0;
}

/* Red dashed HR style */
hr.sm {
  border-top: 2px solid rgb(186, 186, 186);
  width: 90%; 
  margin: 20px auto; 
}

/* Thick blue HR style */
hr.thick-blue {
  border-top: 5px solid blue;
  width: 80%;
  margin: 30px 0;
}

footer-text {
    color:rgb(186, 186, 186)
}